@import "./variables";

.Board {

  min-width: 304px;
  max-height: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 36rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: $white;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $light-blue-shadow;
    border-radius: 8px;
    box-shadow: inset -5px -5px 5px rgba(0, 27, 66, 0.5);
  }

  header {
    display: flex;

    .title {
      display: flex;
      flex: 1;
      align-items: center;
      padding-left: 8px;
      color: $white;
      font-family: $title-font;
      font-weight: lighter;
      gap: 8px;
      span {
        margin-left: 4px;
        color: $dark-yellow-shadow;
      }
    }
    .moreButton {
      position: relative;

      svg {
        color: $white;
        cursor: pointer;
        &:hover {
          color: $light-blue;
        }
      }
      p {
        cursor: pointer;
        background-color: $white-shadow;
        font-family: $cards-font;
        font-weight: bold;
        border: 1px solid $brown;
        color: $brown;
        padding: 8px;
        width: 120px;
        border-radius: 4px;
        box-shadow: 1px 3px 8px $white-shadow;
        &:active {
          box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .cards {
    
    background-color: $white;
    box-shadow: 3px -5px 10px $white-shadow;
    border: 1px solid $dark-yellow-shadow;
    border-radius: 1rem;
    padding: 8px;
    margin-right: 4px;
    color: $dark-blue;
    font-family: $cards-font;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
