@import "./variables";

.closetask {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 32px;
    font-size: 14px;
    width: fit-content;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);

    svg{  
        cursor: pointer;
       
    }
}