@import "./variables";

.task{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    background-color: $blue-shadow;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
   height: 100%;
   overflow-y: auto;
header{
    display: flex;
    gap:4px;

    .labels {
        display: flex;
        flex: 1;
        gap: 8px;
    color: $white;
}
svg {color: $dark-blue;}
}
main {
    font-weight: bold;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        display: flex;
        gap: 4px;
        align-items: center;
    }
}
}